@media (max-width: 767px)
{
    .navbar-nav .open .dropdown-menu {
        text-align: center;
    }
}

@media screen and (max-width: 1024px)
{

    #navbar
    {
        text-align: center;
    }

    .navbar-nav > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }

    .navbar-brand
    {
        padding-left:10px;
        padding-right:10px;
    }

    header {
        margin:0px;
    }

    .container {
        border-radius:0px;
        border:none;
        width:100%;
    }

    .class-checkboxes .checkbox {
        width:24%;
        margin:0px;
    }

    .nopadding-left, .nopadding-right {
        padding:0px;
    }
}

@media (max-width:768px){
    .col-sm-nopadding
    {
        padding:0px;
    }
}


@media screen and (max-width: 480px)
{
    .class-checkboxes .checkbox {
        width:30%;
    }

    .class-0 img, .class-1 img, .class-2 img, .class-3 img, .class-4 img, .class-5 img, .class-6 img, .class-7 img,
    .class-8 img, .class-9 img, .class-10 img, .class-11 img, .class-12 img, .class-13 img {
        width:28px;
        height:28px;
        padding:2px;
    }
}

@media screen and (min-width: 1024px)
{
    .register {
        position: relative;
    }

    .register-left {
        position: absolute;
        width:222px;
        height:300px;
        bottom:0px;
        background:url('../img/register/left.png') no-repeat center left;
    }

    .register-right {
        position: absolute;
        width:301px;
        height:298px;
        bottom:0px;
        right:0px;
        background:url('../img/register/right.png') no-repeat center left;
    }

    .register form {
        margin-left:35px;
    }

    .register .g-recaptcha {
        margin-left:-13px;
    }
}